<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.iC0rraxX.MeteoApp"
    version   = "1.0.0">
    
<preference name="phonegap-version" value="2.7.0" />    
<icon src="icon.png" />
<preference name="prerendered-icon" value="true" />
<name>MeteoApp</name>

<description>
A javascript application
</description>

<author href="https://corraftp.tk" email="corra98@gmail.com">
Corrado Verhoeven (iC0rraxX)
</author>

</widget>
